/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 10%;
  position: absolute;
  width: 100%;
  top: 0;
  user-select: none;
}

.nav-brand img {
  width: 48px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.link {
  margin-left: 3rem;
  padding: 0.5rem 0;
  color: #eee;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  transition: all 200ms linear;
}

.link:hover {
  color: white;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 1px;
  width: 1rem;
  background-color: #fff;
  transition: all 200ms linear;
}

.link:hover::after {
  width: 100%;
}
